<%- layout("/layouts/boilerplate") %> 
    <h2>All Campgrounds</h2>
    <a href="/campgrounds/new">Add new campgrounds</a>
    <a href="/">Back to Index</a>
    <ul>
        <% for (let campground of campgrounds){ %>
            <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li> 
        <% } %> 
    </ul>