<%= layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" class="validated-form" novalidate method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" name="user[username]" placeholder="Username" id="username" class="form-control" autofocus required>
                            <div class="valid-feedback">
                                Looks good! 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="user[email]" placeholder="Email" id="email" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good! 
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="user[password]" placeholder="Password" id="password" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good! 
                            </div>
                        </div>
                        <button class="btn btn-success btn-block" type="submit">Sign In</button>
                    </form>                
                </div>
            </div>
        </div>
    </div>
</div>

